<div class="cleansia-unauthorized">
  <cleansia-dynamic-background />
  <i aria-hidden="true" class="pi pi-lock cleansia-unauthorized__icons__lock"></i>
  <i aria-hidden="true" class="pi pi-shield cleansia-unauthorized__icons__shield"></i>
  <i aria-hidden="true" class="pi pi-user-minus cleansia-unauthorized__icons__user"></i>
  <i aria-hidden="true" class="pi pi-ban cleansia-unauthorized__icons__ban"></i>
  <div class="cleansia-unauthorized__container">
    <h1 class="cleansia-unauthorized__code">403</h1>
    <h2 class="cleansia-unauthorized__title">
      {{ 'pages.unauthorized.title' | translate }}
    </h2>
    <p class="cleansia-unauthorized__msg">
      {{ 'pages.unauthorized.message' | translate }}
    </p>
    <div class="cleansia-unauthorized__actions">
      <cleansia-button
        [label]="'global.actions.go_to_login' | translate"
        severity="primary"
        icon="pi pi-sign-in"
        (onClick)="goToLogin()"
      />
      <cleansia-button
        [label]="'global.actions.logout' | translate"
        severity="secondary"
        icon="pi pi-sign-out"
        [outlined]="true"
        (onClick)="logout()"
      />
    </div>
  </div>
</div>
