/* You can add global styles to this file, and also import other style files */
@import 'primeflex/primeflex.css';

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: var(--surface-ground, #f3f4f6);
  font-family: var(--font-family, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol");
}
